@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');


.lead {
    max-width: 984px;
    margin: 48px auto 0 auto;
}


@media screen and (max-width : 1100px) {
    .lead {
        width: 90%;
    }
}

@media screen and (max-width : 800px) {
    .lead {
        width: 100%;
    }
}