.footer__link {
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    margin-right: 18px;
}

@media screen and (max-width : 950px) {
    .footer__link {
        font-size: 20px;
    }
}

@media screen and (max-width : 800px) {
    .footer__link {
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width : 710px) {
    .footer__link {
        font-size: 14px;
        margin-right: 10px;
    }
}

@media screen and (max-width : 600px) {
    .footer__link {
        font-size: 24px;
        margin-right: 18px;
    }
}




