.video__subtitle {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 14px;
    line-height: 15px;
    margin: 0;
    color: #ffffff;
    z-index: 2;
}

@media screen and (max-width : 1100px) {
    .video__subtitle {
        left: 30px;
        bottom: 35px;
    }
}

@media screen and (max-width : 850px) {
    .video__subtitle {
        left: 24px;
        bottom: 24px;
    }
}

@media screen and (max-width : 500px) {
    .video__subtitle {
        left: 16px;
        bottom: 16px;
    }
}