.lead__subtitle {
    max-width: 583px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0 auto 78px auto;
    font-weight: normal;
}

@media screen and (max-width : 730px) {
    .lead__subtitle {
        font-size: 24px;
        line-height: 28px;
    }
}

@media screen and (max-width : 425px) {
    .lead__subtitle {
        width: 90%;
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 32px;
    }
}