@import url('./-item/intro__info-item.css');

.intro__info {
    list-style-type: none;
    font-size: 13px;
    line-height: 20px;
    padding: 0;
    margin: 0 auto 0 0;
}

@media screen and (max-width : 425px) {
    .intro__info {
        font-size: 12px;
        line-height: 19px;
    }
}